<template>
<!--  <div id="app">-->
    <TContainer>
      <!-- 라우트 아울렛 -->
      <!-- 현재 라우트에 맞는 컴포넌트가 렌더링됩니다. -->
      <router-view></router-view>
      <TNavBottom />
    </TContainer>
<!--  </div>-->
</template>

<script>

import TContainer from "@/components/Common/TContainer";
import TNavBottom from "@/components/Common/TNavBottom";
export default {
  name: 'App',
  components: {
    TNavBottom,
    TContainer
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: #0f4d82;
}
</style>
