<template>
  <section class="tc-box">
    <slot></slot>
  </section>
</template>

<script>

export default {
  name: `TBox`,
  data() {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.tc-box {
  border-radius:25px;
  background:#FFFFFF;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position:relative;
}
</style>