<template>
  <nav class="bottom-nav">
    <div class="bottom-nav-inner">
      <router-link to="/">
        <SvgIcon type="mdi" :path="home" size="26"/>
        <span>홈</span>
      </router-link>
      <router-link to="/board">
        <SvgIcon type="mdi" :path="board" size="26"/>
        <span>보드</span>
      </router-link>
      <router-link to="/calendar">
        <SvgIcon type="mdi" :path="calendar" size="26"/>
        <span>캘린더</span>
      </router-link>
      <router-link to="/my-page">
        <SvgIcon type="mdi" :path="myPage" size="26"/>
        <span>마이페이지</span>
      </router-link>
    </div>
  </nav>
</template>

<script>
import SvgIcon from "@/components/Common/SvgIcon";
import {mdiHome, mdiClipboardList, mdiCalendarMonth, mdiAccountReactivate} from "@mdi/js"

export default {
  name: "TNavBottom",
  components: {
    SvgIcon
  },
  data() {
    return {
      home: mdiHome,
      board: mdiClipboardList,
      calendar: mdiCalendarMonth,
      myPage: mdiAccountReactivate
    }
  }
}
</script>

<style lang="scss" scoped>

.bottom-nav {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: linear-gradient(0deg, var(--containerBgColor) 50px, transparent 51px, transparent 100%);

  .bottom-nav-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    > a {
      display: flex;
      flex-direction: column;
      min-width: 25%;
      margin: 0;
      padding: 10px;
      color: #999999;
      text-align: center;
      text-decoration: none;
      transition-duration: .2s;

      > svg {
        display: block;
        margin: 0 auto 2px;
      }

      > span {
        font-size: 10px;
      }

      &[aria-current=page] {
        color: #333333;
      }

      &:active {
        transform: scale(.9);
      }
    }
  }
}

</style>