<template>
  <TBox>
    <div>
      <span class="profile-photo" :style="profileImg"></span>
      <br/><br/><br/>
      <span class="profile-name">{{item.content}}</span>
    </div>
  </TBox>
</template>

<script>
import TBox from "@/components/Common/TBox";

export default {
  name: `TProfile`,
  components: {
    TBox
  },
  props: {
    item: Object
  },
  computed: {
    profileImg: function() {
      return {
        'background-image': `url(${this.item.imageUrl})`
      }
    }
  },
  data() {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.profile-photo {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background-size: 150px 150px;
  border: .5px solid #CCC;
  margin-top: 20px;
}

.profile-name {
  display: inline-block;
  margin-bottom: 20px;
}
</style>