<template>
  <ul class="tc-list">
    <ChildList
        v-for="(item, idx) in listItems"
        :key="item.uuKey"
        :is="item.component"
        :item="item"
        @action="(e) => { actionCallback( e, idx ) }"
    ></ChildList>
  </ul>
</template>

<script>

export default {
  name: "TList",
  props: {
    items: Array
  },
  data() {
    return {
      listItems: this.items
    }
  },
  created() {
  },
  methods: {
    actionCallback: function ( e, index ) {
      this.$emit('action', e, index )
    }
  }
}
</script>

<style lang="scss" scoped>
ul.tc-list {
  list-style: none;
  padding-left: 0px;
}
</style>