<template>
  <li class="list-item basic">
    <span class="image" :style="imgStyle">
      <span v-if="item.badge" class="badge" :style="badgeStyle" />
    </span>
    <span class="content-wrap">
      <span class="title">{{item.title}}</span>
      <span class="content">{{item.content}}</span>
    </span>
    <div class="action-wrap" v-if="item.action.enable">
      <TButton class="action" @click="actionCallback">{{item.action.title}}</TButton>
    </div>
  </li>
</template>

<script>
import TButton from "@/components/Common/TButton";
export default {
  name: "TBasicList",
  components: {TButton},
  props: {
    item: Object
  },
  computed: {
    imgStyle: function() {
      return {
        'background-image': `url(${this.item.imageUrl})`
      }
    },
    badgeStyle: function() {
      return {
        'background-image': `url(${this.item.badge})`
      }
    }
  },
  methods: {
    actionCallback: function (e) {
      this.$emit('action', e);
    }
  }
}
</script>

<style lang="scss" scoped>
li.list-item {
  display: flex;
  padding: 10px 5px;
  overflow: hidden;

  .image {
    position: relative;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 45%;
    margin-right: 5px;
    background-size: 40px 40px;
    border: .5px solid #CCC;

    .badge {
      position: absolute;
      width: 16px;
      height: 16px;
      background-size: 16px 16px;
      left: -3.5px;
      top: -3.5px;
    }
  }

  .content-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 10px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    .title {
      font-size: 10px;
      color: #777;
      line-height: 12px;
      margin-bottom: 2px;
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }
    .content {
      font-size: 13px;
      color: #333;
      line-height: 15px;
      font-weight: 600;
      white-space: inherit;
      overflow: inherit;
      text-overflow: inherit;
    }
  }

  .action-wrap {
    height: 40px;
    flex-shrink: 0;
    flex-basis: content;
    .action {
      margin-top: 6.5px;
    }
  }
}
</style>