<template>
  <div>
    <router-link to="/">
      <img src="../assets/mmin.png">
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Home_a2"
}
</script>

<style scoped>
img {
  margin-top: 30px;
}
</style>