<template>
  <div>
    <router-link to="/h2"><span>HIHIHIHI</span></router-link>
  </div>
</template>

<script>
export default {
  name: "Home_a"
}
</script>

<style scoped>
span {
  color: #ff0000;
  font-size: 40px;
}

span:hover {
  color: #00ff00;
}

span:active {
  color: #0000ff;
}

a:focus, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

</style>