<template>
  <span class="tc-button" :class="type" @click="click">
    <slot></slot>
  </span>
</template>

<script>
export default {
  name: "TButton",
  props: {
    type: {
      type: String,
      default: 'basic'
    }
  },
  methods: {
    click: function (e) {
      e.preventDefault();
      this.$emit('click', e);
    }
  }
}
</script>

<style lang="scss" scoped>
.tc-button {
  display: inline-block;
  transition-duration: .5s;
  cursor: pointer;

  &.basic {
    padding: 5px 10px;
    border: 0;
    background: #DDD;
    color: #333;
    font-size: 11px;
    border-radius: 10px;

    &:hover, &:active {
      background: #CCC;
    }
  }
}
</style>