<template>
  <div>
    <TBox>
      홈!
    </TBox>

    <TBox>
      <TBoxTitle title="리스트 테스트" />
      <TList :items="items" @action="callbackTest" />
    </TBox>
    <TBox>
      <div>Ajax Test <button @click="testAxios">클릭!</button></div>
      <div>Response : {{test}}</div>
    </TBox>
    <TBox>
      <div>Ajax Test <button @click="testAxios">클릭!</button></div>
      <div>Response : {{test}}</div>
    </TBox>

    <TBox>
      <TBoxTitle title="게시판" />
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
    </TBox>
    <TBox>
      <TBoxTitle title="캘린더" link="/calendar" />
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
      <div>테스트 테스트</div>
    </TBox>
    <TBox>
      <TBoxTitle title="마이페이지" link="/my-page" />
    </TBox>
  </div>
</template>

<script>
import {getHi} from "@/utils/axios";
import TBox from "@/components/Common/TBox";
import TBoxTitle from "@/components/Common/TBoxTitle";
import TList from "@/components/Common/TList";
import image from "@/resources/img/thumbnail.jpeg"
import image2 from "@/resources/img/thumbnail2.jpeg"
import badge from "@/resources/img/badge.png"
import TListItem from "@/components/Common/classes/TListItem";


export default {
  name: `home`,
  components: {
    TList,
    TBox,
    TBoxTitle
  },
  data() {
    return {
      test: '',
      items: [
        {
          type: 'BASIC',
          imageUrl: image,
          badge: badge,
          title: "앙투안 드 생텍쥐페리",
          content: "어린왕자",
          action: {
            title: "클릭"
          }
        },
        {
          type: 'BASIC',
          imageUrl: image2,
          title: "감기 때문에 너무 아파...",
          content: "라이언"
        }
      ].map(item => new TListItem(item))
    }
  },
  methods: {
    async testAxios () {
      const a = await getHi();
      console.log(a)
      this.test = a;
    },
    callbackTest(e, idx) {
      console.log(e);
      console.log(idx);
    }
  }
}
</script>

<style scoped>

</style>