<template>
  <div class="tc-box-title">
    <router-link :to="link" :class="linkClass">
      <div class="title">{{ title }}</div>
      <span class="more" v-if="link">
        <SvgIcon :path="chevron" type="mdi" size="18" />
      </span>
    </router-link>
  </div>
</template>

<script>
import { mdiChevronRight } from '@mdi/js';
import SvgIcon from "@/components/Common/SvgIcon";

export default {
  name: 'TBoxTitle',
  components: {SvgIcon},
  computed: {
    linkClass: function() {
      return this.link !== '' ? 'link' : '';
    }
  },
  props: {
    title: { type: String, required: true },
    link: { type: String, default: '' }
  },
  data() {
    return {
      chevron: mdiChevronRight
    }
  }
}
</script>

<style lang="scss" scoped>
.tc-box-title {
  position:relative;
  text-align: left;
  line-height:24px;
  padding: 0 12px;
  margin-bottom: 16px;
  a {
    text-decoration: none;
    user-select: none;
    cursor: initial;
    &.link {
      cursor: pointer;
    }
    .title {
      color:#333333;
      font-size: 20px;
      font-weight: 700;
    }
    .more {
      position: absolute;
      right:0;
      top:0;
      width:24px;
      height:24px;
      > svg {
        transition-duration: .5s;
      }
      &:active, &:hover {
        > svg {
          transform: translateX(10px);
        }
      }
    }
  }
}
</style>