<template>
  <div class="hello">
    <h1>{{ msg }}</h1>

    <img class="lifecycle" src="../assets/lifecycle.png">
  </div>
</template>

<script>
export default {
  data() { 
    return { 
      msg: "Hello World :)", 
    }; 
  }, 
  
  // 1. 생성단계
  beforeCreate() { 
    // 인스턴스가 생성되고 가장 처음으로 실행되는 단계
    // data, methods 속성이 인스턴스에 정의 X
    // 화면 요소에도 접근 X
    console.log("beforeCreate"); 
    console.log(this.msg);  
  },

  created() {
    // props, methods, computed, watch가 활성화되어 접근 가능
    // dom에 추가 X
    // data에 직접 접근 가능하여 컴포넌트 초기에 외부에서 받아온 값들을 data로 세팅해야 하는 단계로 적절
    console.log("created"); 
    console.log(this.msg);  
  },

  // 2. 장착 단계
  beforeMount() {
    // template의 html 태그 등록
    // 템플릿과 렌더 함수들이 컴파일된 후 첫 렌더링이 일어나기 직전에 실행
    // render() 함수 호출 전의 로직 추가 (초기 렌더링 직전에 DOM 변경시 사용)
    console.log("beforeMount"); 
  },

  mounted() {
    // 화면 요소에 인스턴스가 부착된 후 호출되는 단계로 화면 요소에 접근 가능!
    // 단, 모든 컴포넌트가 마운트 된 상태 X
    console.log("mounted"); 
    this.msg = "Hello Vue :)"
  },

  // 3. 수정 단계
  beforeUpdate() {
    // 데이터 변경시 가상 돔으로 화면을 다시 그리기 전에 호출되는 단계
    // 변경 예정인 새 데이터에 접근 가능하여 변경 예정 데이터의 값과 관련된 로직 미리 넣을 수 있음
    // 값을 변경해도 랜더링 X
    console.log("beforeUpdate"); 
  },

  updated() {
    // 데이터 변경되고 나서 가상 돔으로 화면을 그리고 나면 실행되는 단계
    // computed, watch 같은 속성 활용 
    console.log("updated"); 
  },

  // 4. 소멸 단계 
  beforeDestroy() {
    // 뷰 인스턴스 삭제 전 호출
    // 인스턴스에 접근 가능 
    // 데이터 삭제 등 
    console.log("beforeDestroy"); 
  },

  destroyed() {
    // 뷰 인스턴스 삭제
    console.log("destroyed"); 
  },
}
</script>

<style scoped>
.lifecycle {
  width: calc(100% - 30px);
}
</style>
