<template>
  <div class="tc-container-wrap">
    <div class="tc-container" :style="containerStyle">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    bgColor:{type:String, default:'#f5f5f8'}
  },
  computed: {
    containerStyle: function() {
      return {
        '--containerBgColor': this.bgColor
      }
    }
  },
  name: `TContainer`
}
</script>

<style lang="scss" scoped>
.tc-container-wrap {
  // background: #6667ab;
  // background: #ffe05d;
  background: #0f4d82;
  //height: 100vh;
  //overflow:hidden;
  .tc-container {
    margin:0 auto;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    padding: 20px 10px 70px;
    overflow-x:hidden;
    overflow-y:auto;
    background:var(--containerBgColor);
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
</style>