<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="app">
      <child-component></child-component>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script>
      var eventBus = new Vue();
      Vue.component('child-component', {
        props: ['gift'],
        template: '<div>하위 컴포넌트 영역입니다. {{aaa}} {{gift}} <<<<  <button v-on:click="showLog">show</button></div>',
        data() {
          return {
            aaa: 1
          }
        },
        methods: {
          showLog: function(){
            eventBus.$emit('triggerEventBus',this.aaa);
            this.$emit('minsikbabo', this.aaa);
            this.aaa++;
          }
        }
      });

      var app = new Vue({
        el: "#app",
        template: '<div><child-component :gift="parentValue" @minsikbabo="function(e) {testMethod(e+100); parentValue+=50;}" /></div>',
        data() {
          return {
            parentValue: 1
          }
        },
        methods: {
          testMethod(value) {
            console.log("on change message", value);
          }
        },
        created:function(){
          let self = this;
          eventBus.$on('triggerEventBus',function(value){
            self.parentValue += 2;
            console.log("이벤트를 전달받음. 전달받은 값 ", value);
          });
        }
      });

    </script>

  </body>
</html>
