<template>
  <div class="multiStepForm">
    <!-- 현재 요청서 작성 진행률을 표시하는 Progress -->

      <div class="progress">
        <div class="cProgress" :style="`${cPagePercent}`" />
      </div>

    <!-- 요청서 타이틀 -->
    <h1>{{ inputData.title }}</h1>
    <!-- <h1 v-html="inputData.title" /> -->
    <!-- 요청서 Multi-Form Section -->
    <section v-for="(item, index) in inputData.items" :key="index">
      <!-- 각 Form을 표현하는 Component -->
      <MultiFormSection
          v-if="cPage === index"
          :data="item"
          :page="index"
          :submitData="submitData.items[index]"
          @changeAnswer="changeAnswer"
          ref="multiFormSection"
      />
    </section>
    <!-- Prev, Next, Submit 버튼 Component -->
    <PageButtonBox
        :cPage="cPage"
        :maxPage="maxPage"
        @pageChanged="pageChanged"
        @done="submit"
    />
    <!-- 최종 제출 후 화면에 뜨는 레이어 팝업 Component -->
    <SubmitForm
        v-if="finish"
        :title="inputData.title"
        :submitData="submitData"
        @reset="reset"
    />
  </div>
</template>

<script>
import jsonData from "@/assets/input.json"
import PageButtonBox from "./PageButtonBox";
import MultiFormSection from "./MultiFormSection";
import SubmitForm from "./SubmitForm";

//// 요기

export default {
  name: `Poll`,
  components: {
    PageButtonBox,
    MultiFormSection,
    SubmitForm,
  },
  data() {
    return {
      inputData: jsonData,
      cPage: 0,
      finish: false,
      submitData: {
        id: null,
        items: [],
      },
    }
  },
  computed: {
    // 최대 페이지
    maxPage() {
      return this.inputData.items.length - 1;
    },
    // 현재 페이지의 퍼센트
    cPagePercent() {
      return `width:${(this.cPage / this.inputData.items.length) * 100}%`;
    },
  },
  created() {
    console.log("test")
    // 최초에는 submitData.items의 배열에 데이터가 없음
    // inputData 기준으로 배열을 초기화
    this.submitData.id = this.inputData.formId;
    this.submitData.items.push(
        ...this.inputData.items.map((item) => {
          return {
            id: item.itemId,
            answer: "",
          };
        })
    );
    console.log(JSON.stringify(this.inputData, null, `\t`));
  },
  methods: {
    // 페이지 변경 이벤트 handler
    pageChanged(type) {
      // Next버튼을 누르는 경우 해당 페이지의 유효성 검사를 진행
      if (type === `Next`) {
        if (!this.$refs.multiFormSection[0].validation().result) return;
      }
      // Next인 경우 +1, Prev인 경우 -1
      this.cPage = type === `Prev` ? this.cPage - 1 : this.cPage + 1;
    },
    // 각 페이지 (item)의 응답 이벤트 handler
    changeAnswer(id, answer) {
      const item = this.submitData.items.filter((x) => x.id === id);
      if (item.length > 0) item[0].answer = answer;
    },
    // Submit 이벤트 handler
    submit() {
      // 제출 시 ( 그리고 마지막 페이지의 경우 Next가 없기 때문에, 여기에서 유효성 검사 함께 진행 ) 전체 items의 유효성 검사
      const checkList = this.submitData.items.filter(
          (x) => x.answer === null || x.answer === ``
      );
      if (checkList.length > 0) {
        // 하나 이상의 item의 answer가 없다면, 그 중 가장 앞 페이지로 돌아가 유효성 검사 다시 진행
        // 유효성 검사를 다시 진행하는 이유는, 해당 페이지에 Alert을 띄우기 위함
        this.cPage = this.submitData.items.indexOf(checkList[0]);
        setTimeout(() => {
          // 페이지를 이동한 후 rendering 이후 해당 페이지에 대해 다시한번 유효성 검사 진행
          this.$refs.multiFormSection[0].validation();
        }, 0);
        return;
      }
      // 완료 시 finish 토글을 켜서 제출완료 레이어팝업을 띄움
      this.finish = true;
      // output Json 출력 메소드 호출
      this.printSubmitData();
    },
    reset() {
      // items의 답변 초기화
      this.submitData.items.forEach((item) => {
        item.answer = ``;
      });
      this.finish = false;
      this.cPage = 0;
    },
    // output Json 출력 메소드
    printSubmitData() {
      console.log(`[ ${this.inputData.title} ] 의 답변 Json 입니다.`);
      console.log(JSON.stringify(this.submitData, null, "\t"));
    },
  },
}
</script>

<style lang="scss" scoped>
.multiStepForm {
  .progress {
    position: absolute;
    left:20px;
    right:20px;
    top:-24px;
    height: 12px;
    background:#FEFEFE;
    border-radius: 6px;
    .cProgress {
      height: 12px;
      background: #f1bf58;
      border-radius: 6px;
      transition-duration: 0.5s;
    }
  }

}
</style>