<template>
  <div class="contentWrap">
    <!-- 요청서 폼의 질문 -->
    <h3>{{ `Q${page + 1}. ${data.title}` }}</h3>
    <Child
        :is="component"
        :value="submitData.answer"
        :options="data.options"
        @changeValue="chnageValue"
        ref="formGroup"
    />
    <transition name="fade">
      <!-- 입력 폼을 작성/선택 하지 않은 경우 화면에 띄우는 alert -->
      <VTooltip
        v-if="!validationResult.result"
        :message="validationResult.message"
      />
    </transition>
  </div>
</template>

<script>
import VTooltip from "./VTooltip";

export default {
  // props: {
  //   data: Object,
  //   page: Number,
  //   submitData: Object,
  // },
  props: ["data", "page", "submitData"],
  components: {
    VTooltip,
  },
  computed: {},
  data() {
    return {
      validationResult: {
        result: true,
        message: "",
      },
    };
  },
  created() {
    this.setComponent(this.data.formType)
  },
  mounted() {

  },
  methods: {
    // 각 입력폼 컴포넌트 값 변경 이벤트의 handler
    chnageValue(value) {
      console.log(`value: ${value}`);
      // 상위 컴포넌트 (Form) 에게 값이 변경됨을 알림
      this.$emit(`changeAnswer`, this.data.itemId, value);
      // 만약 유효성 검사가 기존에 실패했었던 경우라면, 다시한번 유효성 검사
      // 값이 입력되었다면 alert을 해제 하기 위한 용도
      if (this.validationResult.result == false) {
        this.validation();
      }
    },
    // 각 입력폼으로부터 입력상태 유효성 검사 확인
    // Next, Submit 등에서 활용하는 메소드
    validation() {
      const check = this.$refs.formGroup.validation();
      this.validationResult.result = check.result;
      this.validationResult.message = check.message;
      return check;
    },
    setComponent( type ) {
      switch( type ) {
        case "CHECK": this.component = () => import(`./VCheckBox`); break;
        case "RADIO": this.component = () => import(`./VRadio`); break;
        case "TEXT": this.component = () => import(`./VTextInput`); break;
        case "SELECT": this.component = () => import(`./VSelectBox`); break;
      }

    }
  },
};
</script>

<style lang="scss" scoped>
.contentWrap {
  padding: 0 5px;
  h3 {
    margin: 0 0 15px 0;
    font-weight: 600;
    position: relative;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}
</style>
