<template>
  <section>
    <!-- 이전 (Prev) 버튼 -->
    <button :disabled="prevCheck" @click="click('Prev')">Prev</button>
    <!-- 다음 (Next) 버튼 -->
    <button :disabled="nextCheck" @click="click('Next')">Next</button>
    <!-- Submit 버튼 -->
    <button :disabled="submitCheck" @click="done">Submit</button>
  </section>
</template>

<script>
export default {
  props: {
    maxPage: Number,
    cPage: Number,
  },
  computed: {
    // 이전 버튼 비활성 조건 cPage가 0인경우 비활성
    prevCheck() {
      return this.cPage > 0 ? false : true;
    },
    // 다음 버튼 비활성 조건 cPage가 maxPage와 같은경우 (혹은 그 이상인 경우) 비활성
    nextCheck() {
      return this.cPage < this.maxPage ? false : true;
    },
    // 제출 버튼 활성화 조건 cPage가 maxPage와 같지 않은 경우 비활성
    submitCheck() {
      return this.cPage == this.maxPage ? false : true;
    },
  },
  data() {
    return {};
  },
  mounted() {},
  methods: {
    // Next, Prev 버튼 클릭 시 부모 컴포넌트에 pageChanged 이벤트 전송
    click(type) {
      this.$emit(`pageChanged`, type);
    },
    // Submit 클릭 시 done 이벤트 전송
    done() {
      this.$emit(`done`);
    },
  },
};
</script>

<style lang="scss" scoped>
section {
  position: absolute;
  bottom: -50px;
  right: 10px;
  button {
    display: inline-block;
    font-weight: 500;
    margin-left: 5px;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    font-size: 15px;
    border-radius: 20px;
    user-select: none;
    background: #333;
    color: #fff;
    outline: none;
    &:hover {
      background: #000;
    }
    &:disabled {
      background: #888;
      cursor: not-allowed;
    }
  }
}
</style>
