<template>
  <section>
    <!-- 배경 (어두운 뒷 배경) -->
    <div class="cover" />
    <div class="contentWrap" :style="contentStyle">
      <!-- 제출 성공 화면 -->
      <div class="headerWrap">
        <h1 class="headerContent">제출에 성공하였습니다 :)</h1>
        <!-- 펼쳐보기, 닫기 버튼 -->
        <button class="btn" @click="show">{{ showBtnText }}</button>
        <!-- 다시하기 버튼 -->
        <button class="btn" @click="$emit(`reset`)">다시하기</button>
      </div>
      <!-- 펼쳐보기 화면 -->
      <div class="submitWrap" v-if="isShow">
        <!-- 요청서 타이틀 -->
        <div class="submitTitle">{{ `요청서 제목 : ${title}` }}</div>
        <!-- 요청서 답변 내용 Loop -->
        <div
          class="submitDataWrap"
          v-for="(item, index) in submitData.items"
          :key="`submit-${index}`"
        >
          <span>{{ `Q${index + 1}:` }}</span> {{ `${item.answer}` }}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: String,
    submitData: Object,
  },
  data() {
    return {
      isShow: false,
    };
  },
  computed: {
    // 펼쳐졌을때와 아닐 때의 높이, 박스의 위치를 조절
    contentStyle() {
      return this.isShow
        ? `height:400px;top:calc(50% - 200px);`
        : `height:150px;top:calc(50% - 75px);`;
    },
    // 상태에 따른 펼쳐보기 버튼의 Text 변경
    showBtnText() {
      return this.isShow ? `제출내역 닫기` : `제출내역 펼쳐보기`;
    },
  },
  methods: {
    // 제출내역 펼치기 토글
    show() {
      this.isShow = !this.isShow;
    },
  },
};
</script>

<style lang="scss" scoped>
section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  div,
  h1,
  button {
    box-sizing: border-box;
    margin: 0;
  }

  .cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: RGBA(0, 0, 0, 0.2);
  }
  .contentWrap {
    position: absolute;
    width: 360px;
    left: calc(50% - 180px);
    background: #fff;
    border-radius: 15px;
    padding: 20px 10px;
    .headerWrap {
      height: 130px;
      text-align: center;
      .headerContent {
        height: 70px;
        padding: 10px 0;
      }
      .btn {
        font-size: 15px;
        font-weight: 600;
        padding: 8px 20px;
        cursor: pointer;
        background: #666;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        transition-duration: 0.5s;
        margin: 0 5px;
        &:active,
        &:hover {
          background: #333;
        }
      }
    }
    .submitWrap {
      height: 230px;
      padding: 20px 10px;
      border-top: 1px solid #eee;
      overflow-y: auto;

      .submitTitle {
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 600;
      }
      .submitDataWrap {
        margin-bottom: 2px;
        font-size: 16px;
        font-weight: 400;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
</style>
