<template>
  <div>
    <label class="checkbox" v-for="(item, index) in options" :key="index">
      <input
        type="checkbox"
        :value="item.text"
        :ref="`checkBoxItem`"
        @change="checked"
        v-model="checkedList"
      />
      <span class="itemTitle">{{ item.text }}</span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    options: Array,
  },
  computed: {},
  data() {
    return {
      checkedList: [],
    };
  },
  mounted() {
    // value값이 입력되어 있는 경우 해당 체크박스는 체크 하도록 설정
    if (this.value != null && this.value != "") {
      // value 를 `,`로 split
      const list = this.value.split(`,`);
      for (const item of list) {
        // 각 item의 trim 제거한 후, item과 일치하는 option 찾기
        const option = this.options.filter((x) => x.text == item.trim());
        if (option.length > 0) {
          this.checkedList.push(option[0].text);
        }
      }
      this.makeValue();
    }
  },
  methods: {
    // 체크 이벤트 발생 시 호출
    checked() {
      this.makeValue();
    },
    // 체크된 목록을 `,`로 join 후 부모 컴포넌트로 값 전달
    makeValue() {
      this.$emit(`changeValue`, this.checkedList.toString());
    },
    // 유효성 검사
    validation() {
      if (this.checkedList.length == 0) {
        return {
          result: false,
          message: `한 개 이상의 아이템을 선택해야 합니다.`,
        };
      }
      return { result: true, message: `success` };
    },
  },
};
</script>

<style lang="scss" scoped>
.checkbox {
  display: flex;
  line-height: 23px;
  cursor: pointer;
  margin-bottom: 3px;
  input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
  }
  .itemTitle {
    font-size: 14px;
    font-weight: 400;
    user-select: none;
  }
}
</style>
