<template>
  <div>
    <label class="radio" v-for="(item, index) in options" :key="index">
      <input
        type="radio"
        :value="item.text"
        :ref="`radioItems`"
        v-model="pickedItem"
      />
      <span class="itemTitle">{{ item.text }}</span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    options: Array,
  },
  computed: {},
  data() {
    return {
      pickedItem: "",
    };
  },
  mounted() {
    // value값이 입력되어 있는 경우 해당 라디오버튼을 선택 하도록 설정
    // value의 trim 제거한 후, 일치하는 option 찾기
    if (
      this.value != null &&
      this.value != "" &&
      this.options.filter((x) => x.text == this.value.trim()).length > 0
    ) {
      this.pickedItem = this.value.trim();
    }
  },
  methods: {
    // item을 선택하면, 부모 컴포넌트에 변경 이벤트 전달
    picked() {
      this.$emit(`changeValue`, this.pickedItem);
    },
    // 유효성 검사
    validation() {
      if (this.pickedItem == null || this.pickedItem == ``) {
        return { result: false, message: `항목을 선택해주세요.` };
      }
      return { result: true, message: `success` };
    },
  },
  watch: {
    // template의 input에 change event를 걸지 않고 
    // pickedItem 값을 추적해서 부모 컴포넌트에게 변경된 값을 전달
    pickedItem: function() {
      this.picked();
    },
  },
};
</script>

<style lang="scss" scoped>
.radio {
  display: flex;
  line-height: 23px;
  cursor: pointer;
  margin-bottom: 3px;
  input[type="radio"] {
    margin: 5px;
    cursor: pointer;
  }
  .itemTitle {
    font-size: 14px;
    font-weight: 400;
    user-select: none;
  }
}
</style>
