<template>
  <div>
    <select v-model="selected">
      <option :value="null" selected disabled hidden>선택해주세요</option>
      <option
        v-for="(option, index) in options"
        :value="option.text"
        :key="`select-${index}`"
      >
        {{ option.text }}
      </option>
    </select>
  </div>
</template>

<script>
export default {
  props: {
    value: String,
    options: Array,
  },
  computed: {},
  data() {
    return {
      selected: null,
    };
  },
  mounted() {
    if (
      this.value != null &&
      this.value != "" &&
      this.options.filter((item) => item.text == this.value.trim()).length > 0
    ) {
      this.selected = this.value.trim();
    }
  },
  methods: {
    // SelectBox의 item을 선택하면, 부모 컴포넌트에 변경 이벤트 전달
    changed() {
      this.$emit(`changeValue`, this.selected);
    },
    // 유효성 검사
    validation() {
      if (this.selected == null || this.selected == ``) {
        return { result: false, message: `값을 선택해주세요.` };
      }
      return { result: true, message: `success` };
    },
  },
  watch: {
    // selected 값을 추적해서 부모 컴포넌트에게 변경된 값을 전달
    selected: function() {
      this.changed();
    },
  },
};
</script>

<style lang="scss" scoped>
select {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #333 !important;
  background-color: #f8f8f8;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-size: 0.6em;
  background-position: calc(100% - 1.3em) center;
  background-repeat: no-repeat;
  cursor: pointer;
  &::-ms-expand {
    display: none;
  }
  &:active,
  &:focus {
    outline-width: 0px;
  }
}
</style>
