<template>
  <div>
    <input type="text" v-model="text" @input="inputValue" />
  </div>
</template>

<script>
export default {
  props: {
    value: String,
  },
  computed: {},
  data() {
    return {
      text: this.value,
    };
  },
  methods: {
    // 부모 컴포넌트에 변경 이벤트 전달
    // input 이벤트를 사용한 이유는, v-model은 한글과 같은 언어에서 글자가 완성이 되어야만 변경 이벤트가 발생되므로, input 이벤트를 사용
    inputValue(e) {
      this.$emit(`changeValue`, e.target.value);
    },
    // 유효성 검사
    validation() {
      if (this.text == null || this.text == ``) {
        return { result: false, message: `값을 입력해주세요.` };
      }
      return { result: true, message: `success` };
    },
  },
};
</script>

<style lang="scss" scoped>
input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  background: #F8F8F8;
  border-radius: 10px;
  &:active,
  &:focus {
    outline-width: 0px;
  }
}
</style>
