<template>
  <!-- Alert 메시지 출력 -->
  <div>
    {{ message }}
  </div>
</template>

<script>
export default {
  props: {
    message: String,
  },
};
</script>

<style lang="scss" scoped>
div {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  padding: 3px 10px;
  background: RGBA(255, 0, 0, 0.5);
  color: #fff;
  font-weight: 600;
  border: 1px solid #f00;
  border-radius: 10px;
}
</style>
