<template>
  <div id="app">
    <router-link to="/">Home</router-link>
    <router-link to="/about/test">About</router-link>
    <router-link to="/poll">Poll</router-link>
    <router-link to="/sort">Sort</router-link>
    <router-view></router-view>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'

export default {
  name: 'App',
  components: {
  }
}
</script>

<style lang="scss">
body {
  width: calc(100% - 30px);
  max-width: 600px;
  margin: 50px auto;
  background: #f5f5f5;
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    margin-top: 60px;
    margin-bottom: 120px;
    background: #fff;
    border-radius: 30px;
    padding: 20px 20px 30px;
    border: #ddd dotted 3px;
    position: relative;

    > a {
      text-decoration:none;
      padding:5px 10px;
      color:#FF0000;
      background:RGBA(255,0,0,0.1);
      border-radius: 10px;
      margin-right: 5px;
      font-size: 12px;
      &[aria-current]{
        font-weight: 700;
        background:RGBA(255,0,0,0.15);
      }
      &:hover{
        background:RGBA(255,0,0,0.2);
      }
      transition-duration: 0.5s;
    }
  }
}
</style>
