<template>
  <div>
    <h1>Sort</h1>
    <div class="content">
      <div class="input-area">
        <label for="user-input">항목 입력 후 엔터키를 입력 해 주세요!</label>
        <input type="text" id="user-input" v-model="userInput" @keypress.enter="submitValue">
      </div>
      <div class="divider"></div>
      <div class="array-area">
        <div class="title"> 입력 항목 </div>
        <ul>
          <li class="empty" v-if="inputArray.length === 0">입력한 항목이 없습니다. 입력해주세요!</li>
          <li class="array-item" v-for="(item, index) in inputArray" :key="index" @click="removeItem(index)">{{item}}</li>
        </ul>
      </div>
      <div class="divider"></div>
      <div class="sort-area">
        <div class="sort-action">
          <div class="start-sort" @click="startSort">정렬시작!</div>
        </div>
        <div class="sort-content">
          <div v-if="bubble.array.length > 0">
            <div>Bubble Sort</div>
            <ul>
              <li :class="`array-item ${item.check}`" v-for="item in bubble.array" :key="`${item.id}_bubble`">{{item.value}}</li>
            </ul>
          </div>
<!--          <div v-if="quick.array.length > 0">-->
<!--            <div>Quick Sort</div>-->
<!--            <ul>-->
<!--              <li :class="`array-item ${item.check}`" v-for="item in quick.array" :key="`${item.id}_quick`">{{item.value}}</li>-->
<!--            </ul>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bubble from "@/components/pages/Sort/bubble";

export default {
  name: `index`,
  data() {
    return {
      userInput: '',
      inputArray: [],
      sortProcessArray: [],
      bubble: {
        array: []
      },
      quick: {
        array: []
      }
    }
  },
  methods: {
    submitValue () {
      this.inputArray.push(this.userInput);
      this.userInput = '';
    },
    removeItem( index ) {
      this.inputArray.splice(index, 1);
    },
    startSort() {
      this.sortProcessArray = this.inputArray.map( (x, idx) => {
        return { id: idx, value: x, check: '' };
      })

      this.bubble.array = this.inputArray.map( (x, idx) => {
        return { id: idx, value: x, check: '' };
      })

      bubble( this.bubble.array );
    },
  },
  watch: {
  }
}
</script>

<style lang="scss" scoped>
.divider {
  padding: 0;
  margin: 10px;
  background:#EFEFEF;
  width:calc(100% - 20px);
  height:1px;
}
.content {
  display:flex;
  flex-direction: column;
  .input-area {
    padding: 10px 20px;
    display:flex;
    flex-direction: column;
    label {
      font-size: 10px;
      color:#777;
      line-height: 12px;
      margin-bottom: 2px;
      margin-left: 10px;
    }
    input {
      height: 30px;
      background:#EFEFEF;
      border: 0;
      outline: none;
      border-radius: 20px;
      padding: 5px 20px;
      color:#333;
      font-weight: 800;
      font-size: 15px;
    }
  }
  .array-area {
    padding: 0px 20px 10px;
    .title {
      padding: 10px 0 5px;
      font-size: 10px;
      color:#777;
      //font-weight: 800;
      margin-left: 10px;
      margin-bottom: 2px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style-type : none;
      li {
        list-style-type : none;
        &.empty {
          text-align: center;
          padding: 10px 20px;
          font-size: 11px;
          color:#777;
          font-weight: 800;
        }
        &.array-item {
          display: inline-block;
          padding: 5px 10px;
          border-radius: 20px;
          background:#42b983;
          color:#FFF;
          font-weight: 800;
          margin-right: 5px;
          margin-bottom: 5px;
          cursor: no-drop;
        }
      }
    }
  }
  .sort-area {
    .sort-action {
      text-align:center;
      .start-sort {
        display:inline-block;
        padding: 5px 15px;
        margin-top: 10px;
        color:#FFF;
        background:#CCC;
        cursor: pointer;
        border-radius: 20px;
        font-weight: 700;
        &:hover {
          background:#777;
        }
      }
    }
    .sort-content {
      padding: 0 20px 10px;
      > div > div {
        font-size: 10px;
        color:#777;
        line-height: 12px;
        margin-bottom: 10px;
        margin-left: 10px;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type : none;
        li {
          list-style-type : none;
          &.array-item {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 20px;
            background:#42b983;
            color:#FFF;
            font-weight: 800;
            margin-right: 5px;
            margin-bottom: 5px;
            cursor: no-drop;
            &.active {
              background:#ff0000;
            }
            &.finish {
              background:#f1bf58;
            }
          }
        }
      }
    }
  }
}
</style>