<template>
  <div>
    <TBox>
      <div>404 - Page Not Found</div>
      <router-link to="/"> 홈으로 이동 </router-link>
    </TBox>
  </div>
</template>

<script>
import TBox from "@/components/Common/TBox";
export default {
  name: `PageNotFound`,
  components: {TBox}
}
</script>

<style scoped>

</style>