<!DOCTYPE html>
<html>
    <head>
        <title>BONA TEST</title>
        <style>
            #app {
                color : deeppink;
            }
        </style>    
    </head>
    <body>
        <div id="app">
            {{message}} <br />
            {{message2}}
        </div>

        <div id="bona">
            <button v-on:click="countUp">{{bonaTest}}</button>
        </div>

        <!-- <script type="appliation/javascript"> -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
           var app = new Vue ({
               el : '#app',
               data : {
                   'message' : '내일은 목요일이고',
                    'message2' : '모레는 금요일입니다!'
                    }
           })

           var aaa = new Vue ({
               el : '#bona',
               data : {'bonaTest' : '좋아요'}
           })
        </script>
    </body>
</html>