<template>
  <div>
    <TProfile :item="item"/>
  </div>
</template>

<script>
import TProfile from "@/pages/MyPage/TProfile";
import image from "@/resources/img/thumbnail.jpeg";

export default {
  name: `MyPage`,
  components: {
    TProfile
  },
  data() {
    return {
      item: {
        imageUrl: image,
        content: "어린왕자"
      }
    }
  }
}
</script>

<style scoped>

</style>